<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome</title>
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div role="navigation" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Todo</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/register">Register</a></li>
          <li><a href="/users/login">Login</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="page-header">Login</h2>
    <p>Please login below</p>
    <div id="error-msg"><ul><li class="alert alert-danger">Invalid username/password! Please enter valid username & password</li></ul></div>
    <form id="login-form" method="post" action="/users/login" class="col-md-4">
      <div class="form-group">
        <label>Email</label>
        <input id="email" name="email" type="email" placeholder="Enter email" class="form-control">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input id="password" name="password" type="password" placeholder="Enter password" class="form-control">
      </div>
      <input type="submit" name="submit" value="Login" class="btn btn-primary">
    </form>
  </div>
  <script type="text/javascript">
    $(document).ready(()=>{
      $('#login-form').on('submit', (event)=>{
        event.preventDefault();
        let email = $('#email').val().trim();
        let password = $('#password').val().trim();
        $.ajax({
          method:'POST',
          url:'/users/login',
          data: {email, password },
          success: function(data){
            console.log(data);
            location.assign('/todo');
          },
          error: function(res, status, error){
             $("#error-msg").fadeIn("slow");
            setTimeout(function() {
              $("#error-msg").slideUp("slow");
            },5000);
          }
        });
      });
    });

  </script>
</body>

</html>